In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
from IPython.display import Image, display
from PIL import Image
from jupyterthemes import get_themes
import jupyterthemes as jt
from jupyterthemes import jtplot
from IPython.core.display import display, HTML
display(HTML('<style>.container { width:100% !important; }</style>'))

In [2]:
from geopy.geocoders import Nominatim
from tqdm import tqdm

In [6]:
os.chdir(r'C:\Users\bruna\IronHack\Project Refyld\Refyld\données')

In [7]:
df = pd.read_csv('Data Complet.csv', sep=';')

In [8]:
df.shape

(1195, 20)

In [9]:
df.isnull().sum()

Prénom                              38
Nom                                 38
Prénom - Nom                        28
Sexe                                41
Age                               1195
Situation Familliale              1195
Profession                        1195
Adresse                             35
Complement Adresse                 972
Code postal                         35
Ville                               35
Région                             329
Pays                                10
Nom d'utilisateur                   28
Identifiant de la contrepartie      39
Courriel                            28
Numéro de téléphone                 35
Titre de la contrepartie            39
Quantité                            28
Montant unitaire total              28
dtype: int64

In [10]:
df.drop(['Age','Situation Familliale ', 'Profession','Prénom - Nom ', 
         'Numéro de téléphone', 'Courriel', 'Complement Adresse'],axis=1, inplace=True)

In [11]:
df

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
0,romain,romain,H,10 place franklin,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1,Élodie,Ramel,F,23 Avenue Albert Laurens,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
2,Amel,Ahmedou,F,5 Allée Alexandre Vialatte,75013,Paris 13e Arrondissement,Île-de-France,FR,melacafez,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
3,Elina,Le Gourvellec,F,16 Avenue de l'Alcyon,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
4,PHILIPPE,BIGOT,H,8 Impasse du Chemin de Gesnes,61000,Saint-Germain-du-Corbéis,Normandie,FR,phmabigot,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,NaN,NaN,NaN,NaN,NaN,NaN,Nice,9,NaN,NaN,NaN,NaN,NaN
1191,NaN,NaN,NaN,NaN,NaN,NaN,Marseille,6,NaN,NaN,NaN,NaN,NaN
1192,NaN,NaN,NaN,NaN,NaN,NaN,Montpellier,7,NaN,NaN,NaN,NaN,NaN
1193,NaN,NaN,NaN,NaN,NaN,NaN,Strasbourg,4,NaN,NaN,NaN,NaN,NaN
1194,NaN,NaN,NaN,NaN,NaN,NaN,Lille,4,NaN,NaN,NaN,NaN,NaN

In [12]:
df.dropna(thresh=4, inplace=True)

In [13]:
df.isnull().sum()

Prénom                              9
Nom                                 9
Sexe                               12
Adresse                             6
Code postal                         6
Ville                               6
Région                            325
Pays                                6
Nom d'utilisateur                   0
Identifiant de la contrepartie     10
Titre de la contrepartie           10
Quantité                            0
Montant unitaire total              0
dtype: int64

In [14]:
df['Titre de la contrepartie']=df['Titre de la contrepartie'].fillna('Don')

In [15]:
df.to_csv('Members_Refyld.csv')

In [16]:
df.isnull().sum()

Prénom                              9
Nom                                 9
Sexe                               12
Adresse                             6
Code postal                         6
Ville                               6
Région                            325
Pays                                6
Nom d'utilisateur                   0
Identifiant de la contrepartie     10
Titre de la contrepartie            0
Quantité                            0
Montant unitaire total              0
dtype: int64

In [17]:
dff = df[df['Titre de la contrepartie']!='Don']

In [18]:
dff.isnull().sum()

Prénom                              5
Nom                                 5
Sexe                                8
Adresse                             2
Code postal                         2
Ville                               2
Région                            320
Pays                                2
Nom d'utilisateur                   0
Identifiant de la contrepartie      0
Titre de la contrepartie            0
Quantité                            0
Montant unitaire total              0
dtype: int64

In [19]:
dff.columns

Index(['Prénom ', 'Nom ', 'Sexe', 'Adresse ', 'Code postal ', 'Ville ',
       'Région ', 'Pays ', 'Nom d'utilisateur',
       'Identifiant de la contrepartie', 'Titre de la contrepartie',
       'Quantité', 'Montant unitaire total'],
      dtype='object')

In [20]:
dff.columns = [i.strip(' ') for i in dff.columns]

In [21]:
dff[dff['Prénom'].isnull()]

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
108,NaN,NaN,F,17A rue du vertuquet,59960,NEUVILLE EN FERRAIN,NaN,FR,robinsmum,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
170,NaN,NaN,F,8 rue saint marc,75002,paris,NaN,FR,chabrg,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
183,NaN,NaN,NaN,"5, rue de charonne",75011,Paris,NaN,FR,k-mayalevy,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
537,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,galou73,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,erzbeth,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [22]:
df1 = dff.copy()

In [23]:
df1.fillna('Uninformed', inplace=True)

In [24]:
df1.Adresse = df1.Adresse.str.replace(r'[0-9]+[,]?', '')

In [25]:
df1.Adresse = df1.Adresse.str.replace(r'\([^()]*\)', '')

In [26]:
df1.Adresse = df1.Adresse.str.title()

In [27]:
df1

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
0,romain,romain,H,Place Franklin,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1,Élodie,Ramel,F,Avenue Albert Laurens,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
2,Amel,Ahmedou,F,Allée Alexandre Vialatte,75013,Paris 13e Arrondissement,Île-de-France,FR,melacafez,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
3,Elina,Le Gourvellec,F,Avenue De L'Alcyon,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
4,PHILIPPE,BIGOT,H,Impasse Du Chemin De Gesnes,61000,Saint-Germain-du-Corbéis,Normandie,FR,phmabigot,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,Barbara,Attal,F,Place Des Cordeliers,07100,Annonay,Auvergne-Rhône-Alpes,FR,attal-noel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1163,Jamie,Attal,F,Route Du Grand Mûrier,07100,Boulieu-lès-Annonay,Auvergne-Rhône-Alpes,FR,attaljamie,657937.0,Adhésion à vie - Tarif normal,1.0,79.0
1164,Floriane,Emy,F,Rue Du Président Édouard Herriot,69002,Lyon 2e Arrondissement,Auvergne-Rhône-Alpes,FR,floriane-emy,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1165,Marina,Rodrigues,F,Route D'Arnand,74210,Doussard,Auvergne-Rhône-Alpes,FR,marina-espiller,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1166,Aude,DIOP,F,Rue Adjudant Chef Clapot,40000,Mont-de-Marsan,Nouvelle-Aquitaine,FR,aude-joannisdiop,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [28]:
df1.query('Région == "Uninformed"')

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
12,Laetitia,Prasit,F,Bis Avenue Paul Doumer,92500,Rueil-Malmaison,Uninformed,FR,tititenten,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
14,Sandrine,PEPIN,F,Impasse Du Canal,31270,Cugnaux,Uninformed,FR,sandy-pepin,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
15,Patricia,Moissonnier-Cuney,F,Rue Du Grand Villard,39260,Villards d'Héria,Uninformed,FR,fab-166,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
20,Hélène,PERDEREAU,F,Lieu Dit Le Champ De Devant,72250,Parigné l'évêque,Uninformed,FR,hanounyosh,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
39,Véronique,Thiebaut,F,Route Du Pont De Dammarie,55000,SAVONNIERES DEVANT BAR,Uninformed,FR,veronique-dandeu,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,Valérie,COLLOT,F,Lotissement Les Boutons D'Or,07340,FELINES,Uninformed,FR,valriecollot,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1132,Manon,CHARRIEAU,F,Chemin Du Grand Roc Fer,86280,St benoit,Uninformed,FR,manon-charrieau,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1148,Maïlys,Lemasson,F,Avenue De Champagne,74200,Thonon-les-Bains,Uninformed,FR,malyslemasson,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1151,Ilfynn,LAGARDE,F,Boulevard De Clichy,75018,Paris,Uninformed,FR,ilflag,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1158,Alix,Lecocq,F,Rue Du Simplon,75018,Paris,Uninformed,FR,alixlecocq,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [29]:
df1.query('Ville == "Uninformed"')

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
537,Uninformed,Uninformed,F,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,galou73,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
985,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,erzbeth,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [30]:
df1.query('Pays == "Uninformed"')

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
537,Uninformed,Uninformed,F,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,galou73,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
985,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,erzbeth,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [31]:
df1.reset_index(drop=True, inplace=True)

In [32]:
from functools import partial

In [33]:
geolocator = Nominatim(user_agent='your_search')

In [34]:
#geocode = partial(geolocator.geocode, language="fr")

In [35]:
def geolocate(city):
    try:
            # Geolocate the center of the country
            loc = geolocator.geocode(city, language='fr')
            # And return latitude and longitude 
            return loc.address
        # Otherwise
    except:
            # Return missing value
            return np.nan

In [36]:
#geolocate('Paris 13e Arrondissement')

In [37]:
#tqdm.pandas()

In [38]:
#df1['Location'] = df1['Ville'].progress_apply(geolocate)

In [39]:
#df1.loc[df1.Location.index == 1054, 'Location'] = geolocate('75009')

In [40]:
#df1.loc[df1.Location.isnull()]

In [41]:
df1

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
0,romain,romain,H,Place Franklin,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1,Élodie,Ramel,F,Avenue Albert Laurens,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
2,Amel,Ahmedou,F,Allée Alexandre Vialatte,75013,Paris 13e Arrondissement,Île-de-France,FR,melacafez,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
3,Elina,Le Gourvellec,F,Avenue De L'Alcyon,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
4,PHILIPPE,BIGOT,H,Impasse Du Chemin De Gesnes,61000,Saint-Germain-du-Corbéis,Normandie,FR,phmabigot,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151,Barbara,Attal,F,Place Des Cordeliers,07100,Annonay,Auvergne-Rhône-Alpes,FR,attal-noel,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1152,Jamie,Attal,F,Route Du Grand Mûrier,07100,Boulieu-lès-Annonay,Auvergne-Rhône-Alpes,FR,attaljamie,657937.0,Adhésion à vie - Tarif normal,1.0,79.0
1153,Floriane,Emy,F,Rue Du Président Édouard Herriot,69002,Lyon 2e Arrondissement,Auvergne-Rhône-Alpes,FR,floriane-emy,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1154,Marina,Rodrigues,F,Route D'Arnand,74210,Doussard,Auvergne-Rhône-Alpes,FR,marina-espiller,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1155,Aude,DIOP,F,Rue Adjudant Chef Clapot,40000,Mont-de-Marsan,Nouvelle-Aquitaine,FR,aude-joannisdiop,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [42]:
 #df1['Country'] = df1['Location'].str.split(',').str.get(-1)

In [43]:
df1[(df1['Région'] =='Uninformed') & (df1['Pays'] != 'FR')]

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
151,Matthieu,Bulgrin,H,Hauptstrasse C,40668,Meerbusch,Uninformed,DE,matthieu75003,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
316,Manon,Guidarelli,F,B Avenue Louis Caristan,97354,Rémire-Montjoly,Uninformed,GF,guidarelli-manon,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
447,Teddy,Serrano,H,Vestre Teglgade C St. Tv,2450,København SV,Uninformed,DK,teddyserrano,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
536,Uninformed,Uninformed,F,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,galou73,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
539,Claire,Cere,F,Herne Cottage\r\nAbbey Road,CA27 0ED,St. Bees,Uninformed,GB,clairejaubert,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
575,Karin,Niederhauser,F,Chemin De La Distillerie A,1233,Bernex,Uninformed,CH,kpetitdemange,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
761,Didier,Carpouron,H,Impasse Du Dérochau,1584,Salavaux,Uninformed,CH,d_carpouron,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
935,Mélanie,Tuffereau,F,Rue Tétin Savigny,97427,Étang salé les bains,Uninformed,RE,melanituff,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
946,Emeline,Duquesne,F,"Rue Des Sapins,",7603,Bon-Secours,Uninformed,BE,emyeme,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
976,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,erzbeth,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1005,Matthieu,Bulgrin,F,Hauptstrasse C,40668,Meerbusch,Uninformed,DE,matthieu75003,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [44]:
df1['Titre de la contrepartie'] = df1['Titre de la contrepartie'].str.title()

In [125]:
df1['Titre de la contrepartie'].value_counts()

Adhésion À Vie - Tarif Réduit        1122
Adhésion À Vie - Duo                   18
Adhésion À Vie - Tarif Normal          13
Adhésion À Vie - Share The Love !       2
Adhésion À Vie - Trio                   1
Name: Titre de la contrepartie, dtype: int64

In [128]:
df1.loc[~df1['Titre de la contrepartie'].str.contains('-'), 'Titre de la contrepartie'] = 'Adhésion À Vie - Tarif Réduit'

In [129]:
df1.loc[df1['Titre de la contrepartie'].str.contains('-35%'), 'Titre de la contrepartie'] = 'Adhésion À Vie - Tarif Réduit'

In [130]:
df1.loc[df1['Titre de la contrepartie'].str.contains('Réduit'), 'Titre de la contrepartie'] = 'Adhésion À Vie - Tarif Réduit'

In [131]:
df1.loc[df1['Titre de la contrepartie'].str.contains('Normal'), 'Titre de la contrepartie'] = 'Adhésion À Vie - Tarif Normal'

In [132]:
df1['Titre de la contrepartie'].value_counts()

Adhésion À Vie - Tarif Réduit        1122
Adhésion À Vie - Duo                   18
Adhésion À Vie - Tarif Normal          13
Adhésion À Vie - Share The Love !       2
Adhésion À Vie - Trio                   1
Name: Titre de la contrepartie, dtype: int64

In [133]:
df1.index = np.arange(1, len(df1)+1)

In [134]:
df1

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
1,romain,romain,H,Place Franklin,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
2,Élodie,Ramel,F,Avenue Albert Laurens,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
3,Amel,Ahmedou,F,Allée Alexandre Vialatte,75013,Paris 13e Arrondissement,Île-de-France,FR,melacafez,656196.0,Adhésion À Vie - Duo,1.0,99.0
4,Elina,Le Gourvellec,F,Avenue De L'Alcyon,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
5,PHILIPPE,BIGOT,H,Impasse Du Chemin De Gesnes,61000,Saint-Germain-du-Corbéis,Normandie,FR,phmabigot,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152,Barbara,Attal,F,Place Des Cordeliers,07100,Annonay,Auvergne-Rhône-Alpes,FR,attal-noel,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1153,Jamie,Attal,F,Route Du Grand Mûrier,07100,Boulieu-lès-Annonay,Auvergne-Rhône-Alpes,FR,attaljamie,657937.0,Adhésion À Vie - Tarif Normal,1.0,79.0
1154,Floriane,Emy,F,Rue Du Président Édouard Herriot,69002,Lyon 2e Arrondissement,Auvergne-Rhône-Alpes,FR,floriane-emy,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1155,Marina,Rodrigues,F,Route D'Arnand,74210,Doussard,Auvergne-Rhône-Alpes,FR,marina-espiller,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1156,Aude,DIOP,F,Rue Adjudant Chef Clapot,40000,Mont-de-Marsan,Nouvelle-Aquitaine,FR,aude-joannisdiop,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0

In [135]:
df1['Titre de la contrepartie'].value_counts().sum()

1156

In [137]:
df1.loc[541, 'Sexe'] = 'H'

df1.loc[686, 'Sexe'] = 'F'

df1.loc[794, 'Sexe'] = 'F'

df1.loc[838, 'Sexe'] = 'H'

df1.loc[861, 'Sexe'] = 'F'

df1.loc[863, 'Sexe'] = 'H'

df1.loc[1043, 'Sexe'] = 'H'

df1.loc[1058, 'Sexe'] = 'F'

df1.loc[1139, 'Sexe'] = 'F'

In [140]:
df1.loc[df1.Région == 'Uninformed']

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
13,Laetitia,Prasit,F,Bis Avenue Paul Doumer,92500,Rueil-Malmaison,Uninformed,FR,tititenten,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
15,Sandrine,PEPIN,F,Impasse Du Canal,31270,Cugnaux,Uninformed,FR,sandy-pepin,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
16,Patricia,Moissonnier-Cuney,F,Rue Du Grand Villard,39260,Villards d'Héria,Uninformed,FR,fab-166,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
21,Hélène,PERDEREAU,F,Lieu Dit Le Champ De Devant,72250,Parigné l'évêque,Uninformed,FR,hanounyosh,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
40,Véronique,Thiebaut,F,Route Du Pont De Dammarie,55000,SAVONNIERES DEVANT BAR,Uninformed,FR,veronique-dandeu,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,Valérie,COLLOT,F,Lotissement Les Boutons D'Or,07340,FELINES,Uninformed,FR,valriecollot,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1123,Manon,CHARRIEAU,F,Chemin Du Grand Roc Fer,86280,St benoit,Uninformed,FR,manon-charrieau,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1138,Maïlys,Lemasson,F,Avenue De Champagne,74200,Thonon-les-Bains,Uninformed,FR,malyslemasson,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1141,Ilfynn,LAGARDE,F,Boulevard De Clichy,75018,Paris,Uninformed,FR,ilflag,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1148,Alix,Lecocq,F,Rue Du Simplon,75018,Paris,Uninformed,FR,alixlecocq,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0

In [141]:
df1.loc[df1["Code postal"] == 'Uninformed']

,Prénom,Nom,Sexe,Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
537,Uninformed,Uninformed,F,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,galou73,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
977,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,erzbeth,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0

In [216]:
france = pd.read_csv('communes-departement-region.csv')

In [217]:
france

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39196,98831,VOH,98883,OUACO,VOH,NaN,NaN,831.0,NaN,Voh,Voh,98,NaN,NaN,NaN
39197,98832,YATE,98834,YATE,NaN,NaN,NaN,832.0,NaN,Yate,Yate,98,NaN,NaN,NaN
39198,98833,KOUAOUA,98818,KOUAOUA,NaN,NaN,NaN,833.0,NaN,Kouaoua,Kouaoua,98,NaN,NaN,NaN
39199,98901,ILE DE CLIPPERTON,98799,ILE DE CLIPPERTON,NaN,NaN,NaN,901.0,NaN,Ile de clipperton,Ile de clipperton,98,NaN,NaN,NaN
39200,99138,MONACO,98000,MONACO,NaN,NaN,NaN,138.0,NaN,Monaco,Monaco,99,NaN,NaN,NaN

In [218]:
df1.rename(columns={"Code postal": 'code_postal'}, inplace=True)

In [219]:
france.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39201 entries, 0 to 39200
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   code_commune_INSEE    39201 non-null  object
 1   nom_commune_postal    39201 non-null  object
 2   code_postal           39201 non-null  int64
 3   libelle_acheminement  39201 non-null  object
 4   ligne_5               3257 non-null   object
 5   latitude              38932 non-null  float64
 6   longitude             38932 non-null  float64
 7   code_commune          39194 non-null  float64
 8   article               2580 non-null   object
 9   nom_commune           39201 non-null  object
 10  nom_commune_complet   39201 non-null  object
 11  code_departement      39194 non-null  object
 12  nom_departement       38934 non-null  object
 13  code_region           38934 non-null  float64
 14  nom_region            38934 non-null  object
dtypes: float64(4), int64(1), object(10)
memory usage: 4.5+ MB

In [220]:
france.code_postal = france.code_postal.astype(str)

In [205]:
france = france[['code_postal','code_departement', 'nom_departement', 'code_region','nom_region']]

In [250]:
df1.query('Région =="Uninformed"')['code_postal']

152          40668
537     Uninformed
540       CA27 0ED
576           1233
762           1584
870          74549
947           7603
977     Uninformed
1006         40668
Name: code_postal, dtype: object

In [ ]:
france.dropna(inplace=True)

In [251]:
for i in zip(tqdm(france['code_postal']), france['nom_region']):
    for n in df1.query('Région =="Uninformed"')['code_postal']:
        if i[0] in n:
            df1.loc[df1['code_postal'].str.contains(f'{n}'), 'Région'] = f'{i[1]}'

100%|███████████████████████████████████████████████████████████████████████████| 39201/39201 [02:34<00:00, 253.56it/s]

In [252]:
df1.query('Région =="Uninformed"')

,Prénom,Nom,Sexe,Adresse,code_postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
152,Matthieu,Bulgrin,H,Hauptstrasse C,40668,Meerbusch,Uninformed,DE,matthieu75003,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
537,Uninformed,Uninformed,F,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,galou73,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
540,Claire,Cere,F,Herne Cottage\r\nAbbey Road,CA27 0ED,St. Bees,Uninformed,GB,clairejaubert,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
576,Karin,Niederhauser,F,Chemin De La Distillerie A,1233,Bernex,Uninformed,CH,kpetitdemange,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
762,Didier,Carpouron,H,Impasse Du Dérochau,1584,Salavaux,Uninformed,CH,d_carpouron,656196.0,Adhésion À Vie - Duo,1.0,99.0
870,Anatole,Ansar,H,Montée Des Choseaux,74549,Gruffy,Uninformed,FR,anatole-ansar,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
947,Emeline,Duquesne,F,"Rue Des Sapins,",7603,Bon-Secours,Uninformed,BE,emyeme,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
977,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,Uninformed,erzbeth,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0
1006,Matthieu,Bulgrin,F,Hauptstrasse C,40668,Meerbusch,Uninformed,DE,matthieu75003,655971.0,Adhésion À Vie - Tarif Réduit,1.0,39.0

In [254]:
france.query('nom_commune =="Gruffy"')

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
32422,74138,GRUFFY,74540,GRUFFY,NaN,45.783196,6.063121,138.0,NaN,Gruffy,Gruffy,74,Haute-Savoie,84.0,Auvergne-Rhône-Alpes

In [255]:
df1.loc[df1['Ville'] =='Gruffy', 'Région'] = "Auvergne-Rhône-Alpes"

In [256]:
df1.loc[df1['Ville'] =='Gruffy', 'code_postal'] = "74540"

In [257]:
df1.loc[df1.Sexe == 'F', 'Sexe']='Woman'
df1.loc[df1.Sexe == 'H', 'Sexe']='Man'

In [258]:
dff = df1.copy()

In [292]:
x = dff[['Titre de la contrepartie', 'Quantité','Montant unitaire total']].groupby(['Titre de la contrepartie'])[['Quantité','Montant unitaire total']].sum().reset_index()

In [259]:
import plotly.express as px
import plotly.graph_objects as go

In [260]:
dff['Sexe'].value_counts()

Woman         912
Man           238
Uninformed      6
Name: Sexe, dtype: int64

In [261]:
dff['Sexe'].sort_values().unique()

array(['Man', 'Uninformed', 'Woman'], dtype=object)

In [262]:
fig = px.pie(values=dff['Sexe'].value_counts(), 
             names=dff['Sexe'].value_counts().index,
            color_discrete_sequence=px.colors.qualitative.Safe,
            title='Users Gender', template='ggplot2')
fig.update_traces(textfont_size=20, 
                  marker=dict(line=dict(color='#000000', width=1)))
fig.update_layout(title_x=0.53, legend_x=0.8)


fig.show()

In [264]:
dff.to_csv('Members_Refyld.csv')

In [265]:
dff.shape

(1156, 13)