In [2]:
import pandas as pd
import os

In [126]:
#read_file=pd.read_excel(r'C:\Users\Danie\OneDrive\Email attachments\Refyld-Ensembles-de-publiciteÃÅs-1-mar-2021-29-mar-2021.xlsx')
#read_file.to_csv (r'C:\Users\Danie\OneDrive\Email attachments\Refyld-Ensembles-de-publiciteÃÅs-1-mar-2021-29-mar-2021.csv')

In [127]:
#df_pub=pd.read_csv(r'C:\Users\Danie\OneDrive\Email attachments\Refyld-Ensembles-de-publiciteÃÅs-1-mar-2021-29-mar-2021.csv')

In [128]:
##read_file=pd.read_excel(r'C:\Users\Danie\OneDrive\Email attachments\Rapport-sans-titre-Feb-15-2021-Mar-29-2021.xlsx')
#read_file.to_csv (r'C:\Users\Danie\OneDrive\Email attachments\Rapport-sans-titre-Feb-15-2021-Mar-29-2021##.csv')

In [129]:
#df_pub_C=pd.read_csv(r'C:\Users\Danie\OneDrive\Email attachments\Rapport-sans-titre-Feb-15-2021-Mar-29-2021.csv')#

In [130]:
#pd.read_csv(r'C:\Users\Danie\Downloads\Detailed_Post_Performance_26-12-2020_to_26-03-2021.CSV')

In [131]:
#pd.read_excel(r'C:\Users\Danie\Downloads\Audience.xls', encoding='utf32')

In [132]:
#pd.read_csv(r'C:\Users\Danie\Downloads\survey_export_Votre_avis_sur_la_page_d_accueil_du_site_Refyld__Mar_26_2021.csv')

In [133]:
#pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_Single_Welcome_Email_Mar_26_2021.csv', error_bad_lines=False)

In [134]:
#pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_5_Documentaires_Pour_S_Inspirer__Mar_26_2021.csv', error_bad_lines=False)

In [135]:
#pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_Hello_De_La_Team_Refyld__Mar_26_2021.csv', error_bad_lines=False)

In [136]:
#pd.read_excel(r'C:\Users\Danie\Downloads\Contenu_(1).xls')

In [137]:
#pd.read_csv(r'C:\Users\Danie\Downloads\data-export (3).csv', error_bad_lines=False)

In [138]:
#pd.read_csv(r'C:\Users\Danie\Downloads\data-export (2).csv', error_bad_lines=False, header=8)

In [3]:
df = pd.read_csv(r'C:\Users\Danie\Downloads\Data Complet.csv', sep=';')

In [4]:
df.head()

,Pr√©nom,Nom,Pr√©nom - Nom,Sexe,Age,Situation Familliale,Profession,Adresse,Complement Adresse,Code postal,Ville,R√©gion,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Courriel,Num√©ro de t√©l√©phone,Titre de la contrepartie,Quantit√©,Montant unitaire total
0,romain,romain,romain-fontanel,H,NaN,NaN,NaN,10 place franklin,NaN,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,romain.fontanel@hotmail.fr,+33671350519,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
1,√âlodie,Ramel,elodie-ramel,F,NaN,NaN,NaN,23 Avenue Albert Laurens,NaN,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,elodie.ramel@outlook.com,+330622676348,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
2,Amel,Ahmedou,melacafez,F,NaN,NaN,NaN,5 All√©e Alexandre Vialatte,c/o Labadie,75013,Paris 13e Arrondissement,√éle-de-France,FR,melacafez,656196.0,melacafez@yahoo.fr,+330622242230,ADH√âSION √Ä VIE - Duo,1.0,99.0
3,Elina,Le Gourvellec,elinalegourvellec,F,NaN,NaN,NaN,16 Avenue de l'Alcyon,NaN,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,elinalegourvellec@yahoo.fr,+33683876077,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
4,PHILIPPE,BIGOT,phmabigot,H,NaN,NaN,NaN,8 Impasse du Chemin de Gesnes,NaN,61000,Saint-Germain-du-Corb√©is,Normandie,FR,phmabigot,655971.0,phmabigot@yahoo.fr,+330601843644,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0

In [15]:
df.shape

(1195, 20)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195 entries, 0 to 1194
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Pr√©nom                          1157 non-null   object
 1   Nom                             1157 non-null   object
 2   Pr√©nom - Nom                    1167 non-null   object
 3   Sexe                            1154 non-null   object
 4   Age                             0 non-null      float64
 5   Situation Familliale            0 non-null      float64
 6   Profession                      0 non-null      float64
 7   Adresse                         1160 non-null   object
 8   Complement Adresse              223 non-null    object
 9   Code postal                     1160 non-null   object
 10  Ville                           1160 non-null   object
 11  R√©gion                          866 non-null    object
 12  Pays                            1185 non-null   object
 13  Nom d'utilisateur               1167 non-null   object
 14  Identifiant de la contrepartie  1156 non-null   float64
 15  Courriel                        1167 non-null   object
 16  Num√©ro de t√©l√©phone             1160 non-null   object
 17  Titre de la contrepartie        1156 non-null   object
 18  Quantit√©                        1167 non-null   float64
 19  Montant unitaire total          1167 non-null   float64
dtypes: float64(6), object(14)
memory usage: 186.8+ KB

In [6]:
df.columns

Index(['Pr√©nom ', 'Nom ', 'Pr√©nom - Nom ', 'Sexe', 'Age',
       'Situation Familliale ', 'Profession', 'Adresse ', 'Complement Adresse',
       'Code postal ', 'Ville ', 'R√©gion ', 'Pays ', 'Nom d'utilisateur',
       'Identifiant de la contrepartie', 'Courriel', 'Num√©ro de t√©l√©phone',
       'Titre de la contrepartie', 'Quantit√©', 'Montant unitaire total'],
      dtype='object')

In [14]:
df['Profession'].value_counts()

Series([], Name: Profession, dtype: int64)

In [50]:
df['Titre de la contrepartie'].value_counts()

Adh√©sion √† vie - Tarif r√©duit                 987
ADH√âSION √Ä VIE ü§©                               98
ADH√âSION √Ä VIE - Prix r√©duit                   36
ADH√âSION √Ä VIE - Duo                           18
Adh√©sion √† vie - Tarif normal                  12
ADH√âSION √Ä VIE - Share the love !               2
ADH√âSION √Ä VIE  √Ä -35% ü•≥ Prix de lancement      1
ADH√âSION √Ä VIE - Prix normal                    1
ADH√âSION √Ä VIE - Trio                           1
Name: Titre de la contrepartie, dtype: int64

In [54]:
df['Ville '].value_counts()

Paris                       49
Paris 11e Arrondissement    25
Paris 18e Arrondissement    17
Toulouse                    16
Paris 12e Arrondissement    16
                            ..
F√©ternes                     1
Ermont                       1
Biarritz                     1
Bagneux                      1
S√®te                         1
Name: Ville , Length: 711, dtype: int64

In [55]:
df.Sexe.value_counts()

F    922
H    232
Name: Sexe, dtype: int64

In [57]:
round(df.isna().sum()/df.shape[0]*100, 2)

Pr√©nom                              3.18
Nom                                 3.18
Pr√©nom - Nom                        2.34
Sexe                                3.43
Age                               100.00
Situation Familliale              100.00
Profession                        100.00
Adresse                             2.93
Complement Adresse                 81.34
Code postal                         2.93
Ville                               2.93
R√©gion                             27.53
Pays                                0.84
Nom d'utilisateur                   2.34
Identifiant de la contrepartie      3.26
Courriel                            2.34
Num√©ro de t√©l√©phone                 2.93
Titre de la contrepartie            3.26
Quantit√©                            2.34
Montant unitaire total              2.34
dtype: float64

In [63]:
df['R√©gion '].value_counts().head(20)

√éle-de-France                                                    299
Auvergne-Rh√¥ne-Alpes                                             160
Nouvelle-Aquitaine                                                64
Occitanie                                                         62
Provence-Alpes-C√¥te d'Azur                                        42
Pays-de-la-Loire                                                  35
Grand-Est                                                         34
Bretagne                                                          22
Centre-Val de Loire                                               19
Hauts-de-France                                                   17
Bourgogne-Franche-Comt√©                                           15
Normandie                                                         14
France                                                            10
R√©gion de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest      5
FRANCE                                                             5
Gen√®ve                                                             5
Vaud                                                               4
Paris                                                              3
Haute-Savoie                                                       3
Noord-Holland                                                      2
Name: R√©gion , dtype: int64

In [65]:
df.Quantit√©.value_counts()

1.0    1131
2.0      24
3.0       8
4.0       2
5.0       2
Name: Quantit√©, dtype: int64

In [66]:
df['Identifiant de la contrepartie'].value_counts()

655971.0    987
669620.0     98
663095.0     36
656196.0     12
657937.0     12
669624.0      6
656199.0      2
663097.0      1
656197.0      1
656194.0      1
Name: Identifiant de la contrepartie, dtype: int64

In [67]:
df['Titre de la contrepartie'].value_counts()

Adh√©sion √† vie - Tarif r√©duit                 987
ADH√âSION √Ä VIE ü§©                               98
ADH√âSION √Ä VIE - Prix r√©duit                   36
ADH√âSION √Ä VIE - Duo                           18
Adh√©sion √† vie - Tarif normal                  12
ADH√âSION √Ä VIE - Share the love !               2
ADH√âSION √Ä VIE  √Ä -35% ü•≥ Prix de lancement      1
ADH√âSION √Ä VIE - Prix normal                    1
ADH√âSION √Ä VIE - Trio                           1
Name: Titre de la contrepartie, dtype: int64

In [73]:
df['Code postal '].value_counts().head(20)

75011    32
75018    27
75015    23
75017    21
07100    19
75013    17
75012    16
75020    12
75010    10
75019     9
07430     9
75009     9
75016     8
69002     8
69007     7
75007     7
44000     7
92500     6
75014     6
69003     6
Name: Code postal , dtype: int64

In [57]:
df1['Pays '].value_counts()

FR    1123
CH      14
BE       9
DE       5
NL       2
RE       2
GF       1
IE       1
GB       1
PT       1
DK       1
Name: Pays , dtype: int64

In [16]:
df1=df.copy()

In [18]:
df1.drop(['Age','Situation Familliale ', 'Profession','Pr√©nom - Nom ', 'Num√©ro de t√©l√©phone', 'Courriel'],axis=1, inplace=True)

In [24]:
df1.isnull().sum()

Pr√©nom                             38
Nom                                38
Sexe                               41
Adresse                            35
Complement Adresse                972
Code postal                        35
Ville                              35
R√©gion                            329
Pays                               10
Nom d'utilisateur                  28
Identifiant de la contrepartie     39
Titre de la contrepartie           39
Quantit√©                           28
Montant unitaire total             28
dtype: int64

In [39]:
df1['Pr√©nom '].unique()

array(['romain', '√âlodie', 'Amel', 'Elina', 'PHILIPPE', 'Ma√Øder',
       'Vincent', 'Charlotte', 'Jean-Christophe', 'Selvanie', 'Alexandre',
       'Elisabeth', 'Laetitia', 'Emma', 'Sandrine', 'Patricia', 'Julien',
       'Cyril', 'J√©r√©my', 'Marc', 'H√©l√®ne', 'sandrine', 'Doroth√©e',
       'Aurore', 'Jessica', 'Dominique', 'Eve', 'Sandie', 'L√©onie',
       'Romain', 'Apolline', 'HELENE', 'Regine', 'sophie', 'Patrizia',
       'Darlene', 'benedicte', 'florence', 'Charline', 'V√©ronique',
       'Kevin', 'Carole', 'Jos√©phine', 'Julie', 'Monique', 'SABINE',
       'Emmanuelle', 'Amandine', 'Denis', 'Gauthier', 'Anne', 'Sid-Ahmed',
       'Pen√©lope', 'Marie-Christine', 'Marion', '√âl√©onore', 'Audrey',
       'Ga√´lle', 'NATHALIE', 'Anne-Sophie', 'Veronique', 'Cendrine',
       'Val√©rie', 'Anabelle', 'Emmanuel', 'Camille', 'Sarah', 'Sebastien',
       'Pierre', 'Manuella', 'val√©rie', 'B√©atrice', 'Marine', 'Claire',
       'Martine', 'Safia', 'Ophelie', 'Caroline', 'Christine',
       'Catherine', 'Nathalie', 'Daniel', 'Isabelle', 'estefania', 'M',
       'Laura', 'Antoine', 'Sandra', 'JEAN-LOUIS', 'Yohanne', 'Eva',
       'C√©line', 'Noemie', 'Sophie', 'Anne Sophie', 'GREGORY',
       'Christian', 'Evelyne', nan, 'Francis', 'Magali', 'Olivier',
       'Am√©lie', 'alexandre', 'Pascal', 'Philippe', 'Yves', 'MARC',
       'Cassandre', 'Beatrice', 'Axelle', 'Lydie', 'Marie', 'Mathilde',
       'Chlo√©', 'BENJAMIN', 'Ludivine', 'Patrick', 'Saskia', 'Jennifer',
       'Elody', 'Floriane', 'Rym', 'Corinne', 'J√©r√¥me', 'Joanna',
       'Matthieu', 'Nicolas', 'Pamela', 'Manon', 'Pauline',
       'Marie-No√´lle', 'El√©onore', 'Florian', 'Johanna', 'Amelie',
       'Christelle', 'Prescillia', 'Anais', 'Eden', 'Oussama', 'Lucie',
       'Virginie', 'Guillaume', 'maele', 'Luana', 'FANNY', 'Bastien',
       'Milena', 'Fran√ßois', 'Julia', 'veronique', 'Yannick', 'VIRGINIE',
       'Cl√©lie', 'Maxime', 'Victoire', 'Marianne', 'Florence', 'Myriam',
       'Alma', 'St√©phanie', 'Valentine', 'Geraldine', 'Louis', 'Alice',
       'ISABELLE', 'Oc√©ane', 'Marie-Neige', 'Euriel', 'Doria', 'Erell',
       'Laurent', 'B√©n√©dicte', 'Celine', 'Jonathan', 'Natalia', 'Gw√´nn',
       'Oph√©lie', 'Sylvie', 'Capucine', 'Lucas', 'Guilaume', 'Hillel',
       'nathalie', 'Sullivan', 'Eric', 'Claude', 'Alexandra', 'C√©cile',
       'Laure', 'Maylis', 'Esther', 'caroline', 'Anne Laure', 'Charlene',
       'Coralie', 'Pascale', 'M√©lanie', 'Alix', 'Cannelle', 'Fanny',
       'Paula', 'B√©r√©nice', 'S√©lia', 'Lea', 'Johanne', 'Baptiste',
       'Cl√©ment', 'charlyne', 'Olga & Cyril', 'Lies & Patrick',
       'Aur√©lie & Renaud', 'Laurie', 'katleen', 'Eliane', 'martine',
       'Elise', 'Marie-Luce', 'Ma√Ølys', 'Sybille', 'Arnaud', 'Eug√©nie',
       'Lionel', 'H√©l√©na', 'j√©r√©my', 'La√´titia', 'DAMIEN', 'Karine',
       'guillaume', 'No√´mie', 'famille', 'Nahid', 'Fanny-Laure',
       'abdessalem', 'Leslie', 'Laurence', 'C√©lia', 'julie', 'Diana',
       'Tara', 'Lucile', 'jb', 'justine', 'Ingrid', 'Salom√©', 'Brice',
       'claire', 'Angela', 'Siriane', 'Ana√Øs', 'Quentin', 'M√©lissa',
       'Aur√©lien', 'Dimitri', 'Anne-Lise', 'Adriane', 'Aude', 'Carla',
       'Josephine', 'Houda', 'Loryn', 'Erwan', 'marie et dimitri',
       'Elyse', 'Candice', 'pierre', 'Aur√©lie', 'Virgile', 'Damien',
       'Marilyse', 'Maxence', 'Alexia', 'Martial', 'Anna', 'fabienne',
       'Norma', 'Amanda', 'Perrine', 'Galaad', 'Philom√®ne', 'Aline',
       'P√≠a', 'Isabel', 'Laury', 'Elodie', 'SANDRINE', 'Hyun-Jung',
       'Lo√Øc', 'Melanie', 'Chris', 'Thibault', 'Clermont', 'S et T',
       'Romane', 'L√©a', 'M√©lina', 'Katharina', 'Flore', 'Victoria',
       'El√©a', 'Aymeric', 'Florent', 'Justine', 'Jean-Paul', 'Nehla',
       'Teddy', 'Claire-Lise', 'D√©borah', 'Thomas', 'Viviane', 'Aishat',
       'Ying-Ying', 'Samantha', 'Agathe', 'Sabrina', 'emilie', 'Clemence',
       'Louise', 'Berengere', 'Maud', 'Juliette', 'Laurianne', 'Rose',
       'marina', 'Roselyne', 'Phuoc', 'GENDRON', 'Logan', 'Charl√®ne',
       'Faustine', 'Mona', 'William', 'Anouck', 'Radiance', 'Gwenn',
       'Gaelle', 'lorene', 'Clara', 'Paul-Henry', 'Cl√©mence',
       'Anne S√©golene', 'daphne', 'EMILIE ET HUGUES', 'Jo√´lle', 'CELINE',
       'Cora-Lynn', 'Lise', 'Cathydja', 'Diane', 'valerie', 'Gr√©gory',
       'Alizee', 'Anastasiia', 'remy', 'Anastasia', 'Ivan', 'Fran√ßoise',
       'lydie', 'Thirsa', 'Emilie', 'PATRICIA', 'laurent', 'Simon',
       'Margaux', 'Karin', 'Aurelie', 'Mailys', 'Hanen', 'Juliet',
       'CHRISTELLE', 'Annick', 'Soizic', 'Valerie', 'Gollnhofer',
       'G√©raldine', 'Ghislaine', 'Charles', 'OLIVIA', 'Azza', 'katell',
       'Tiara', 'S√©verine', 'Dany', 'philippine', 'Paddy', 'odile',
       'Florie', 'Frere', 'Loise', 'Graziella', 'Lena', 'Vanina', 'In√®s',
       'Thierry', 'Estelle', 'Andr√©a', 'Chloe', 'Gabrielle', 'Danielle',
       'Lauriana', 'Delphine', 'Angelina', 'Lauriane', 'Audric', 'Martin',
       'sandra', 'Aurelien', 'alexandra', 'Sara', 'Henri', 'Satsuky',
       'Paola', 'Yann', 'Denis R', 'Geoffrey', 'Bathiste', 'Ang√®le',
       'Barbara', 'Xuan', 'Cristel', 'Romeo', 'Nadine', 'Isabeau',
       'Khadija', 'marthe', 'Marta', 'Emanuelle', 'Valentin', 'Morgane',
       'Claudia', 'LACHAUME', 'Rosine', 'Chrystal', 'Aur√©lia', 'Noemi',
       'Tim', 'Solange', 'Ondine', 'Didier', 'Olivia', 'David', 'Ludovic',
       'Cecile', 'MARIE', 'Yvette', 'MELANIE', 'chantal', 'RENAUD',
       'Juliane', 'Amalya', 'SIMON', 'Gwenaelle', 'Hugues', 'Sebastian',
       'evelyne', 'Bernard', 'Maeva', 'Robin', 'Marinette', 'Mathieu',
       'Anthony', 'Gilbert', 'Eryn', 'VALERIE', 'marie', 'Anne lise',
       'Corine', 'ERIC', 'delphine', 'Michael', 'MAUD', 'Eloise',
       'Victor', 'M√©lie', 'Christophe', 'Lor√©e', 'Marie Gabrielle',
       'Cl√©mentine', 'Linh', 'JULIEN', 'Anatole', 'Clarisse', 'Gabriel',
       'aline', 'Marius', 'A√Øni', 'Jimmy', 'Tiphaine', 'Frederic',
       'Barth√©lemy', 'Ariane', 'Fr√©d√©ric', 'Nessa', 'Ga√´tan',
       'Anne-Marie', 'mathieu', 'PAUL', 'Marie-Pierre', 'Margot',
       'Maurane', 'Maryne', 'Hilda', 'He√Ødi', 'Roxanne', 'Astrid',
       'thomas', 'Emeline', 'Florine', 'Benjamin', 'Vivien', 'Elsa',
       'Prune', 'Sophia', 'Zoe', 'Gabriella', 'Cyndie', 'Florentine',
       'Nassim', 'MARIELLE', 'Sabine', 'Hanna', 'Enaelle', 'Rachel',
       'Killian', 'Thibaud', 'mickael', 'Wassima', 'Pascaline', 'H√©lo√Øse',
       'Felix', 'Marie C√©cile', 'Tatiana', 'Guillemette', 'Ma√´va', 'Lola',
       'Natacha', 'Ad√®le', 'Remy', 'Ella', 'Jean-Luc', 'Fabienne',
       'Anne-Charlotte', 'Helena', 'val', 'Patryk', 'Alicia', 'Hugo',
       'DIANE', 'garance', 'Adrien', 'Rouba', 'Sidonie', 'LEVRAT',
       'Matthias', 'Nelly', 'Kelly', 'Anne-Emmanuelle', 'Vina', 'Youna',
       'Annika', 'Sakina', 'L√©opold', 'Adriana', 'Kristina', 'Thiara',
       'COLUCCI', 'Fr√©d√©rique', 'Patrice', 'Melodie', 'Nidavan',
       'Marie-Laure', 'St√©phany', 'Marie-Anne', 'Batiste', 'pauline',
       'Odeline', 'Orane', 'Lorna', 'Huguette', 'Ma√´la', 'Pierre-xavier',
       'Kary', 'Bertille', 'James', 'Nour', 'Allan', 'Natalie', 'Ilfynn',
       'Maniline', 'Th√©odora', 'Maya', 'Jamie', 'Marina'], dtype=object)

In [54]:
lst_to_drop=df1[df1['Quantit√©'].isna()].index

In [56]:
df1.drop(lst_to_drop, inplace=True)

In [66]:
df1[df1['Pays ']=='RE']

,Pr√©nom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,R√©gion,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantit√©,Montant unitaire total
541,remy,exelmans,NaN,33 ter all√©e cocos,NaN,97438,Ste Marie,Reunion,RE,rexelmans,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
944,M√©lanie,Tuffereau,F,2 rue t√©tin savigny,NaN,97427,√âtang sal√© les bains,NaN,RE,melanituff,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0

In [67]:
df1[df1['Sexe'].isna()]

,Pr√©nom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,R√©gion,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantit√©,Montant unitaire total
183,NaN,NaN,NaN,"5, rue de charonne",NaN,75011,Paris,NaN,FR,k-mayalevy,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
541,remy,exelmans,NaN,33 ter all√©e cocos,NaN,97438,Ste Marie,Reunion,RE,rexelmans,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
686,Satsuky,Urbain,NaN,Avenue Isidore Geyskens 98,NaN,1160,Auderghem,R√©gion de Bruxelles-Capitale - Brussels Hoofds...,BE,tsutsu22,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
794,Marie,Quement,NaN,32 Rue de Brazza,NaN,92800,Puteaux,√éle-de-France,FR,quement-m,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
838,Matthieu,Bienfait,NaN,255 Boulevard Bazeilles,NaN,83000,Toulon,Provence-Alpes-C√¥te d'Azur,FR,matthieu-bienfait,NaN,NaN,1.0,11.0
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cdarblet,NaN,NaN,1.0,1.0
861,M√©lie,POUSTAY-LING,NaN,3 All√©e du Bois des Ch√™nes,NaN,94370,Sucy-en-Brie,√éle-de-France,FR,melicorne,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
863,Christophe,Dvis√©,NaN,Elegemstraat 57,NaN,1700,Dilbeek,Vlaanderen,BE,christophe-devise,NaN,NaN,1.0,11.0
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,erzbeth,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
1043,Jean-Luc,Planchenot,NaN,4 Rue de Diarupt,NaN,88520,Wisembach,Grand-Est,FR,planchenot,NaN,NaN,1.0,1.0
1056,val,AGUNAOU,NaN,65 Avenue de Rochetaill√©e,le Montr√©al,42100,Saint-√âtienne,Auvergne-Rh√¥ne-Alpes,FR,fifival-0,663095.0,ADH√âSION √Ä VIE - Prix r√©duit,1.0,49.0
1058,Marine,Pannaud Deniau,NaN,31 rue de bourgogne,NaN,75007,Paris,Nouvelle-Aquitaine,FR,marine-pannaud,663095.0,ADH√âSION √Ä VIE - Prix r√©duit,1.0,49.0
1139,Caroline,Panel,NaN,48 Chemin du Ruisseau,NaN,42520,Roisey,Auvergne-Rh√¥ne-Alpes,FR,panel-caroline,NaN,NaN,1.0,11.0

In [78]:
df1[df1['Identifiant de la contrepartie'].isna()]

,Pr√©nom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,R√©gion,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantit√©,Montant unitaire total
84,Christine,Mabit,F,3 impasse des Hauts du ruisseau,NaN,31570,Lanta,NaN,FR,caroline-mabit,NaN,NaN,1.0,1.0
734,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,madelinecollard,NaN,NaN,1.0,15.0
806,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,vtoletti,NaN,NaN,1.0,1.0
816,Nathalie,BASTIEN,F,Penvern,NaN,56540,Le Croisty,Bretagne,FR,nabastien,NaN,NaN,1.0,6.0
826,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,roxane-makpopan,NaN,NaN,1.0,25.0
838,Matthieu,Bienfait,NaN,255 Boulevard Bazeilles,NaN,83000,Toulon,Provence-Alpes-C√¥te d'Azur,FR,matthieu-bienfait,NaN,NaN,1.0,11.0
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cdarblet,NaN,NaN,1.0,1.0
863,Christophe,Dvis√©,NaN,Elegemstraat 57,NaN,1700,Dilbeek,Vlaanderen,BE,christophe-devise,NaN,NaN,1.0,11.0
920,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,jdozance,NaN,NaN,1.0,50.0
1043,Jean-Luc,Planchenot,NaN,4 Rue de Diarupt,NaN,88520,Wisembach,Grand-Est,FR,planchenot,NaN,NaN,1.0,1.0
1139,Caroline,Panel,NaN,48 Chemin du Ruisseau,NaN,42520,Roisey,Auvergne-Rh√¥ne-Alpes,FR,panel-caroline,NaN,NaN,1.0,11.0

In [83]:
df1['Quantit√©'].value_counts(normalize=True)*100

1.0    96.915167
2.0     2.056555
3.0     0.685518
4.0     0.171380
5.0     0.171380
Name: Quantit√©, dtype: float64

In [104]:
df1.groupby('Montant unitaire total')['Quantit√©'].value_counts().to_frame()

                                 Quantit√©
Montant unitaire total Quantit√©
1.0                    1.0              4
6.0                    1.0              1
11.0                   1.0              3
15.0                   1.0              1
25.0                   1.0              1
39.0                   1.0           1049
49.0                   1.0             37
50.0                   1.0              1
78.0                   2.0             24
                       1.0              6
79.0                   1.0             13
99.0                   1.0             12
117.0                  3.0              8
149.0                  1.0              1
156.0                  4.0              2
195.0                  5.0              2
349.0                  1.0              2

In [105]:
df1.columns

Index(['Pr√©nom ', 'Nom ', 'Sexe', 'Adresse ', 'Complement Adresse',
       'Code postal ', 'Ville ', 'R√©gion ', 'Pays ', 'Nom d'utilisateur',
       'Identifiant de la contrepartie', 'Titre de la contrepartie',
       'Quantit√©', 'Montant unitaire total'],
      dtype='object')

In [211]:
df1[df1.Sexe.isna()]

,Pr√©nom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,R√©gion,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantit√©,Montant unitaire total
183,NaN,NaN,NaN,"5, rue de charonne",NaN,75011,Paris,NaN,FR,k-mayalevy,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,erzbeth,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
1056,val,AGUNAOU,NaN,65 Avenue de Rochetaill√©e,le Montr√©al,42100,Saint-√âtienne,Auvergne-Rh√¥ne-Alpes,FR,fifival-0,663095.0,ADH√âSION √Ä VIE - Prix r√©duit,1.0,49.0

In [197]:
df1.loc[541,'Sexe']='H'

In [198]:
df1.iloc[541]

Pr√©nom                                                     remy
Nom                                                    exelmans
Sexe                                                          H
Adresse                                      33 ter all√©e cocos
Complement Adresse                                          NaN
Code postal                                               97438
Ville                                                 Ste Marie
R√©gion                                                  Reunion
Pays                                                         RE
Nom d'utilisateur                                     rexelmans
Identifiant de la contrepartie                           655971
Titre de la contrepartie          Adh√©sion √† vie - Tarif r√©duit
Quantit√©                                                      1
Montant unitaire total                                       39
Name: 541, dtype: object

In [199]:
df1.loc[686,'Sexe']='F'

In [201]:
df1.loc[794,'Sexe']='F'

In [202]:
df1.loc[838,'Sexe']='H'

In [203]:
df1.loc[861,'Sexe']='F'

In [204]:
df1.loc[863,'Sexe']='H'

In [205]:
df1.loc[1043,'Sexe']='H'

In [206]:
df1.loc[1058,'Sexe']='F'

In [207]:
df1.loc[1139,'Sexe']='F'

In [210]:
df1.drop(846, inplace=True)

In [212]:
df2=df1.copy()

In [213]:
df2.drop(['Code postal ', "Nom d'utilisateur",'Adresse ', 'Complement Adresse','Pr√©nom ', 'Nom '], axis=1, inplace=True)

In [214]:
df2[df2['Sexe'].isna()]

,Sexe,Ville,R√©gion,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantit√©,Montant unitaire total
183,NaN,Paris,NaN,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
985,NaN,NaN,NaN,NaN,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
1056,NaN,Saint-√âtienne,Auvergne-Rh√¥ne-Alpes,FR,663095.0,ADH√âSION √Ä VIE - Prix r√©duit,1.0,49.0

In [216]:
df2.shape

(1166, 8)

In [215]:
pd.get_dummies(df2, columns=['Sexe'])

,Ville,R√©gion,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantit√©,Montant unitaire total,Sexe_F,Sexe_H
0,Mulhouse,Grand-Est,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,0,1
1,Saint-Pargoire,Occitanie,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,1,0
2,Paris 13e Arrondissement,√éle-de-France,FR,656196.0,ADH√âSION √Ä VIE - Duo,1.0,99.0,1,0
3,Nantes,Pays-de-la-Loire,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,1,0
4,Saint-Germain-du-Corb√©is,Normandie,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,0,1
...,...,...,...,...,...,...,...,...,...
1162,Annonay,Auvergne-Rh√¥ne-Alpes,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,1,0
1163,Boulieu-l√®s-Annonay,Auvergne-Rh√¥ne-Alpes,FR,657937.0,Adh√©sion √† vie - Tarif normal,1.0,79.0,1,0
1164,Lyon 2e Arrondissement,Auvergne-Rh√¥ne-Alpes,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,1,0
1165,Doussard,Auvergne-Rh√¥ne-Alpes,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,1,0
1166,Mont-de-Marsan,Nouvelle-Aquitaine,FR,655971.0,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0,1,0