In [2]:
import pandas as pd
import os

In [31]:
pd.read_csv(r'C:\Users\Danie\Downloads\Detailed_Post_Performance_26-12-2020_to_26-03-2021.CSV')

,Time Posted,Image URL,Instagram Post,Caption,"Media Type (Image, Video, Carousel)",Followers,Engagement,Likes,Comments,Impressions,Reach,Video Views,Saves,Linkin.Bio
0,"Mar 26, 2021 10:55:19 AM",https://lg-image-prod.s3.amazonaws.com/ig-anal...,https://www.instagram.com/p/CM4K7UJM5xN/,Le week-end est bientoÃÇt laÃÄ ! üôå‚Å†\nQu'avez-vou...,image,7043,0.64%,43,2,584,568,NaN,0,NaN
1,"Mar 25, 2021 11:00:57 AM",https://lg-image-prod.s3.amazonaws.com/ig-anal...,https://www.instagram.com/p/CM1mvXmghYZ/,Choisir de consommer de fa√ßon responsable supp...,image,7030,1.0%,72,0,1161,1114,NaN,1,NaN
2,"Mar 24, 2021 09:00:56 AM",https://lg-image-prod.s3.amazonaws.com/ig-anal...,https://www.instagram.com/p/CMy0M0yMo6Z/,Notre petit chouchou : le savon Refyld üí´‚Å†\nüëâ 0...,image,7026,1.8%,113,12,1922,1900,NaN,4,NaN
3,"Mar 23, 2021 07:30:23 AM",https://lg-image-prod.s3.amazonaws.com/ig-anal...,https://www.instagram.com/p/CMwFE2bANXt/,Live Talk Refyld - Les premiers produits ‚Å†üí´ ‚Å†\...,image,7005,1.1%,78,2,1985,1885,NaN,1,NaN
4,"Mar 22, 2021 06:14:48 PM",https://lg-image-prod.s3.amazonaws.com/ig-anal...,https://www.instagram.com/p/CMuqD8Sheao/,Jeu concours @whitesunshoes x @refyld‚Å†‚Å†\n‚Å†‚Å†\nL...,carousel,6964,6.2%,238,192,2929,2584,NaN,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,"Jan 1, 2021 10:55:21 AM",https://scontent-iad3-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/CJf4JVEgCX8/,La meilleure fa√ßon de commencer l'ann√©e ? Pren...,image,6422,1.8%,111,4,2443,2264,NaN,4,NaN
71,"Dec 30, 2020 12:01:33 PM",https://scontent-iad3-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/CJa2DPJADfH/,"Pour lib√©rer l'acc√®s √† la qualit√©, chez Refyld...",image,6434,0.82%,53,0,1496,1368,NaN,3,NaN
72,"Dec 29, 2020 10:50:43 AM",https://scontent-iad3-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/CJYJQrHhWDG/,Je continue dans ma s√©rie de livres inspirants...,carousel,6445,2.5%,151,8,3473,3023,NaN,53,NaN
73,"Dec 28, 2020 09:30:27 AM",https://scontent-iad3-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/CJVbQZhgg90/,"En ce dernier lundi de 2020, nous voulions vou...",image,6448,2.0%,125,4,2306,2155,NaN,2,NaN
74,"Dec 27, 2020 10:01:06 AM",https://lg-image-prod.s3.amazonaws.com/ig-anal...,https://www.instagram.com/p/CJS55-cAVv0/,"""Refyld, dit-nous, comment fais-tu pour nous p...",image,6451,1.2%,78,0,2432,2193,NaN,10,NaN

In [9]:
pd.read_excel(r'C:\Users\Danie\Downloads\Audience.xls', encoding='utf32')

TypeError: read_excel() got an unexpected keyword argument 'encoding'

In [10]:
pd.read_csv(r'C:\Users\Danie\Downloads\survey_export_Votre_avis_sur_la_page_d_accueil_du_site_Refyld__Mar_26_2021.csv')

,Date,Email,Question 1: Comment trouvez-vous la page d'accueil du site sur une √©chelle de 0 √† 10 ?,Question 2: Vous avez d√©couvert la page depuis un ordinateur ou un mobile ?,Question 3: Avez-vous des retours √† nous partager sur cette premi√®re version de la page d'accueil ?
0,2021-03-04 11:49:52,NaN,8,Mobile,NaN
1,2021-03-04 11:57:26,NaN,7,Mobile,Plut√¥t jolie mais il manque des informations c...
2,2021-03-04 12:58:54,NaN,5,Mobile,Il faut pouvoir identifier rapidement le conce...
3,2021-03-04 13:02:33,NaN,9,Mobile,"La page est sobre, l√©g√®re, elle ressemble bien..."
4,2021-03-04 13:19:16,NaN,8,Ordinateur,Pas grand chose √† dire (j'y suis pas rest√© lon...
5,2021-03-04 13:53:17,NaN,9,Mobile,"Sobre, c'est bien."
6,2021-03-04 14:05:05,NaN,9,Mobile,NaN
7,2021-03-04 14:38:57,NaN,8,Ordinateur,'- Joli visuel (mais un peu dommage la brosse ...
8,2021-03-04 14:39:30,NaN,10,Ordinateur,"Bravo jolie et efficace, navigation facile."
9,2021-03-04 18:45:47,NaN,10,Ordinateur,NaN
10,2021-03-08 09:00:20,NaN,8,Ordinateur,NaN
11,2021-03-14 19:39:53,NaN,6,Ordinateur,je sais qu'il s'agit d'un choix d'utiliser un...
12,2021-03-16 10:56:48,NaN,9,Ordinateur,Je le trouve tr√®s claire et coh√©rente avec l'i...
13,2021-03-22 12:42:43,NaN,4,Mobile,NaN

In [13]:
pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_Single_Welcome_Email_Mar_26_2021.csv', error_bad_lines=False)

b'Skipping line 23: expected 2 fields, saw 3\n'

                           Email Campaign Report
Title:                      Single welcome email
Subject Line:                         No Subject
Delivery Date/Time:       Fri, Mar 26, 2021 6:59
Overall Stats                                NaN
Total Recipients:                            996
Successful Deliveries:                       994
Bounces:                                2 (0.2%)
Times Forwarded:                               0
Forwarded Opens:                               0
Recipients Who Opened:               736 (74.0%)
Total Opens:                               1,771
Last Open Date:                    3/26/21 11:21
Recipients Who Clicked:              349 (35.1%)
Total Clicks:                                  0
Last Click Date:                     1/1/70 1:00
Total Unsubs:                                  4
Total Abuse Complaints:                        0
Times Liked on Facebook:                       0
Clicks by URL                                NaN

In [15]:
pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_5_Documentaires_Pour_S_Inspirer__Mar_26_2021.csv', error_bad_lines=False)

b'Skipping line 23: expected 2 fields, saw 3\nSkipping line 24: expected 2 fields, saw 3\nSkipping line 25: expected 2 fields, saw 3\nSkipping line 26: expected 2 fields, saw 3\nSkipping line 27: expected 2 fields, saw 3\nSkipping line 28: expected 2 fields, saw 3\n'

                                      Email Campaign Report
Title:                     5 documentaires pour s'inspirer
Subject Line:             6 documentaires pour s'inspirer¬†üôå
Delivery Date/Time:                 Thu, Feb 18, 2021 11:47
Overall Stats                                           NaN
Total Recipients:                                       762
Successful Deliveries:                                  760
Bounces:                                           2 (0.3%)
Times Forwarded:                                          0
Forwarded Opens:                                          0
Recipients Who Opened:                          568 (74.7%)
Total Opens:                                          1,288
Last Open Date:                               3/26/21 10:55
Recipients Who Clicked:                           30 (3.9%)
Total Clicks:                                            50
Last Click Date:                              3/24/21 23:04
Total Unsubs:                                             8
Total Abuse Complaints:                                   1
Times Liked on Facebook:                                  0
Clicks by URL                                           NaN

In [17]:
pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_Hello_De_La_Team_Refyld__Mar_26_2021.csv', error_bad_lines=False)

b'Skipping line 23: expected 2 fields, saw 3\nSkipping line 24: expected 2 fields, saw 3\n'

                              Email Campaign Report
Title:                    Hello de la team Refyld üëã
Subject Line:             Hello de la team Refyld¬†üëã
Delivery Date/Time:          Thu, Feb 4, 2021 11:08
Overall Stats                                   NaN
Total Recipients:                               766
Successful Deliveries:                          761
Bounces:                                   5 (0.7%)
Times Forwarded:                                  0
Forwarded Opens:                                  0
Recipients Who Opened:                  439 (57.7%)
Total Opens:                                    868
Last Open Date:                       3/23/21 14:13
Recipients Who Clicked:                   29 (3.8%)
Total Clicks:                                    32
Last Click Date:                       2/7/21 17:23
Total Unsubs:                                    42
Total Abuse Complaints:                           0
Times Liked on Facebook:                          0
Clicks by URL                                   NaN

In [20]:
pd.read_excel(r'C:\Users\Danie\Downloads\Contenu_(1).xls')

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\xff\xfes\x00e\x00p\x00'

In [36]:
pd.read_csv(r'C:\Users\Danie\Downloads\data-export (3).csv', error_bad_lines=False)

b'Skipping line 9: expected 1 fields, saw 6\nSkipping line 10: expected 1 fields, saw 6\nSkipping line 11: expected 1 fields, saw 6\nSkipping line 12: expected 1 fields, saw 6\nSkipping line 13: expected 1 fields, saw 6\nSkipping line 14: expected 1 fields, saw 6\nSkipping line 15: expected 1 fields, saw 6\nSkipping line 16: expected 1 fields, saw 6\nSkipping line 17: expected 1 fields, saw 6\nSkipping line 18: expected 1 fields, saw 6\nSkipping line 19: expected 1 fields, saw 6\nSkipping line 20: expected 1 fields, saw 6\nSkipping line 21: expected 1 fields, saw 6\nSkipping line 22: expected 1 fields, saw 6\nSkipping line 23: expected 1 fields, saw 6\nSkipping line 24: expected 1 fields, saw 6\nSkipping line 25: expected 1 fields, saw 6\nSkipping line 26: expected 1 fields, saw 6\nSkipping line 27: expected 1 fields, saw 6\nSkipping line 28: expected 1 fields, saw 6\nSkipping line 29: expected 1 fields, saw 6\nSkipping line 30: expected 1 fields, saw 6\nSkipping line 31: expected 1 fields, saw 6\nSkipping line 32: expected 1 fields, saw 6\nSkipping line 33: expected 1 fields, saw 6\nSkipping line 34: expected 1 fields, saw 6\nSkipping line 35: expected 1 fields, saw 6\nSkipping line 36: expected 1 fields, saw 6\nSkipping line 37: expected 1 fields, saw 6\nSkipping line 38: expected 1 fields, saw 6\nSkipping line 39: expected 1 fields, saw 6\nSkipping line 43: expected 1 fields, saw 3\nSkipping line 44: expected 1 fields, saw 3\nSkipping line 45: expected 1 fields, saw 3\nSkipping line 46: expected 1 fields, saw 3\nSkipping line 47: expected 1 fields, saw 3\nSkipping line 48: expected 1 fields, saw 3\nSkipping line 49: expected 1 fields, saw 3\nSkipping line 50: expected 1 fields, saw 3\nSkipping line 51: expected 1 fields, saw 3\nSkipping line 52: expected 1 fields, saw 3\nSkipping line 53: expected 1 fields, saw 3\nSkipping line 59: expected 1 fields, saw 10\nSkipping line 60: expected 1 fields, saw 10\nSkipping line 61: expected 1 fields, saw 10\nSkipping line 62: expected 1 fields, saw 10\nSkipping line 63: expected 1 fields, saw 10\nSkipping line 64: expected 1 fields, saw 10\nSkipping line 65: expected 1 fields, saw 10\nSkipping line 66: expected 1 fields, saw 10\nSkipping line 67: expected 1 fields, saw 10\nSkipping line 68: expected 1 fields, saw 10\nSkipping line 69: expected 1 fields, saw 10\n'

    # ----------------------------------------
0       # Exportation de rapport au format¬†CSV
1                            # Compte¬†: Refyld
2                         # Propri√©t√©¬†: Refyld
3   # ----------------------------------------
4                                           #
5                   # Date de d√©but¬†: 20210225
6                     # Date de fin¬†: 20210326
7                   # Date de d√©but¬†: 20210225
8                     # Date de fin¬†: 20210326
9                      # Tous les utilisateurs
10                  # Date de d√©but¬†: 20210225
11                    # Date de fin¬†: 20210326

In [30]:
pd.read_csv(r'C:\Users\Danie\Downloads\data-export (2).csv', error_bad_lines=False, header=8)

     Jour Utilisateurs
0    0000            0
1    0001           12
2    0002           18
3    0003           27
4    0004           45
..    ...          ...
201  0115            0
202  0116            0
203  0117            0
204  0118            0
205  0119            0

[206 rows x 2 columns]

In [3]:
df = pd.read_csv(r'C:\Users\Danie\Downloads\Data Complet.csv', sep=';')

In [4]:
df.head()

,Pr√©nom,Nom,Pr√©nom - Nom,Sexe,Age,Situation Familliale,Profession,Adresse,Complement Adresse,Code postal,Ville,R√©gion,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Courriel,Num√©ro de t√©l√©phone,Titre de la contrepartie,Quantit√©,Montant unitaire total
0,romain,romain,romain-fontanel,H,NaN,NaN,NaN,10 place franklin,NaN,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,romain.fontanel@hotmail.fr,+33671350519,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
1,√âlodie,Ramel,elodie-ramel,F,NaN,NaN,NaN,23 Avenue Albert Laurens,NaN,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,elodie.ramel@outlook.com,+330622676348,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
2,Amel,Ahmedou,melacafez,F,NaN,NaN,NaN,5 All√©e Alexandre Vialatte,c/o Labadie,75013,Paris 13e Arrondissement,√éle-de-France,FR,melacafez,656196.0,melacafez@yahoo.fr,+330622242230,ADH√âSION √Ä VIE - Duo,1.0,99.0
3,Elina,Le Gourvellec,elinalegourvellec,F,NaN,NaN,NaN,16 Avenue de l'Alcyon,NaN,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,elinalegourvellec@yahoo.fr,+33683876077,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0
4,PHILIPPE,BIGOT,phmabigot,H,NaN,NaN,NaN,8 Impasse du Chemin de Gesnes,NaN,61000,Saint-Germain-du-Corb√©is,Normandie,FR,phmabigot,655971.0,phmabigot@yahoo.fr,+330601843644,Adh√©sion √† vie - Tarif r√©duit,1.0,39.0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195 entries, 0 to 1194
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Pr√©nom                          1157 non-null   object
 1   Nom                             1157 non-null   object
 2   Pr√©nom - Nom                    1167 non-null   object
 3   Sexe                            1154 non-null   object
 4   Age                             0 non-null      float64
 5   Situation Familliale            0 non-null      float64
 6   Profession                      0 non-null      float64
 7   Adresse                         1160 non-null   object
 8   Complement Adresse              223 non-null    object
 9   Code postal                     1160 non-null   object
 10  Ville                           1160 non-null   object
 11  R√©gion                          866 non-null    object
 12  Pays                            1185 non-null   object
 13  Nom d'utilisateur               1167 non-null   object
 14  Identifiant de la contrepartie  1156 non-null   float64
 15  Courriel                        1167 non-null   object
 16  Num√©ro de t√©l√©phone             1160 non-null   object
 17  Titre de la contrepartie        1156 non-null   object
 18  Quantit√©                        1167 non-null   float64
 19  Montant unitaire total          1167 non-null   float64
dtypes: float64(6), object(14)
memory usage: 186.8+ KB

In [50]:
df['Titre de la contrepartie'].value_counts()

Adh√©sion √† vie - Tarif r√©duit                 987
ADH√âSION √Ä VIE ü§©                               98
ADH√âSION √Ä VIE - Prix r√©duit                   36
ADH√âSION √Ä VIE - Duo                           18
Adh√©sion √† vie - Tarif normal                  12
ADH√âSION √Ä VIE - Share the love !               2
ADH√âSION √Ä VIE  √Ä -35% ü•≥ Prix de lancement      1
ADH√âSION √Ä VIE - Prix normal                    1
ADH√âSION √Ä VIE - Trio                           1
Name: Titre de la contrepartie, dtype: int64

In [52]:
df.columns

Index(['Pr√©nom ', 'Nom ', 'Pr√©nom - Nom ', 'Sexe', 'Age',
       'Situation Familliale ', 'Profession', 'Adresse ', 'Complement Adresse',
       'Code postal ', 'Ville ', 'R√©gion ', 'Pays ', 'Nom d'utilisateur',
       'Identifiant de la contrepartie', 'Courriel', 'Num√©ro de t√©l√©phone',
       'Titre de la contrepartie', 'Quantit√©', 'Montant unitaire total'],
      dtype='object')

In [54]:
df['Ville '].value_counts()

Paris                       49
Paris 11e Arrondissement    25
Paris 18e Arrondissement    17
Toulouse                    16
Paris 12e Arrondissement    16
                            ..
F√©ternes                     1
Ermont                       1
Biarritz                     1
Bagneux                      1
S√®te                         1
Name: Ville , Length: 711, dtype: int64

In [55]:
df.Sexe.value_counts()

F    922
H    232
Name: Sexe, dtype: int64

In [57]:
round(df.isna().sum()/df.shape[0]*100, 2)

Pr√©nom                              3.18
Nom                                 3.18
Pr√©nom - Nom                        2.34
Sexe                                3.43
Age                               100.00
Situation Familliale              100.00
Profession                        100.00
Adresse                             2.93
Complement Adresse                 81.34
Code postal                         2.93
Ville                               2.93
R√©gion                             27.53
Pays                                0.84
Nom d'utilisateur                   2.34
Identifiant de la contrepartie      3.26
Courriel                            2.34
Num√©ro de t√©l√©phone                 2.93
Titre de la contrepartie            3.26
Quantit√©                            2.34
Montant unitaire total              2.34
dtype: float64

In [63]:
df['R√©gion '].value_counts().head(20)

√éle-de-France                                                    299
Auvergne-Rh√¥ne-Alpes                                             160
Nouvelle-Aquitaine                                                64
Occitanie                                                         62
Provence-Alpes-C√¥te d'Azur                                        42
Pays-de-la-Loire                                                  35
Grand-Est                                                         34
Bretagne                                                          22
Centre-Val de Loire                                               19
Hauts-de-France                                                   17
Bourgogne-Franche-Comt√©                                           15
Normandie                                                         14
France                                                            10
R√©gion de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest      5
FRANCE                                                             5
Gen√®ve                                                             5
Vaud                                                               4
Paris                                                              3
Haute-Savoie                                                       3
Noord-Holland                                                      2
Name: R√©gion , dtype: int64

In [65]:
df.Quantit√©.value_counts()

1.0    1131
2.0      24
3.0       8
4.0       2
5.0       2
Name: Quantit√©, dtype: int64

In [66]:
df['Identifiant de la contrepartie'].value_counts()

655971.0    987
669620.0     98
663095.0     36
656196.0     12
657937.0     12
669624.0      6
656199.0      2
663097.0      1
656197.0      1
656194.0      1
Name: Identifiant de la contrepartie, dtype: int64

In [67]:
df['Titre de la contrepartie'].value_counts()

Adh√©sion √† vie - Tarif r√©duit                 987
ADH√âSION √Ä VIE ü§©                               98
ADH√âSION √Ä VIE - Prix r√©duit                   36
ADH√âSION √Ä VIE - Duo                           18
Adh√©sion √† vie - Tarif normal                  12
ADH√âSION √Ä VIE - Share the love !               2
ADH√âSION √Ä VIE  √Ä -35% ü•≥ Prix de lancement      1
ADH√âSION √Ä VIE - Prix normal                    1
ADH√âSION √Ä VIE - Trio                           1
Name: Titre de la contrepartie, dtype: int64

In [73]:
df['Code postal '].value_counts().head(20)

75011    32
75018    27
75015    23
75017    21
07100    19
75013    17
75012    16
75020    12
75010    10
75019     9
07430     9
75009     9
75016     8
69002     8
69007     7
75007     7
44000     7
92500     6
75014     6
69003     6
Name: Code postal , dtype: int64